{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Player{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header></header>
    <main>
      {{ user.username }} (<a href="/logout">Logout</a>)
      <table style="width:50%">
        <tr>
          <th></th>
          <th><div id=PlaylistHeader></div></th>
        </tr>
        <tr>
          <p class="cunt">
              <td><div id="player"></div></td>
              <td><div id="playlist"></div></td>
          </p>
        </tr>
        <tr>
            <td>
                <div>
                    <b>Config:</b>
                    <br />
                    <label>Shuffle: <input name="Shuffle" type="checkbox" , id="shuffle" onchange="pushConfig()"> </label>
                    <br />
                    <label>Repeat: <input name="Repeat" type="checkbox" , id="repeat" onchange="pushConfig()"> </label>
                </div>
            </td>
            <td>
                <label>URL: <input name="URL" type="text" , id="id_link"></label>
                <input type="button" value="Submit youtube link" onclick="submitYoutubeLink();" />
            </td>
      </table>

        <input type="button" value="Vote skip" onclick="voteSkip();"/>


    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript %}

    <script>
      ///////////////////////////////////
      // Database interaction
      ///////////////////////////////////

      // Debug stuff
      $("#id_link").change(function () {
        console.log( $(this).val() );
      });

      function voteSkip() {
        alert("Todo")
      }

      var interval = 500;  // 1000 = 1 second, 3000 = 3 seconds
      function updateInterface() {
        $.ajax({
            url: '{% url "get_interface" %}',
            data: {},
            dataType: 'json',
            success: function (data) {
              console.log(data);

              //Update Interface
              $('#PlaylistHeader').text('Playlist ('+ data.playlist_length +')');
              $('#shuffle').prop("checked", data.shuffle);
              $('#repeat').prop("checked", data.repeat);

              //Update Playlist
              var node = document.getElementById("playlist");
              while (node.firstChild) {
                  node.removeChild(node.firstChild);
              }

              var playlist = data.playlist
              var list = document.createElement('ul');
              for(var i = 0; i < playlist.length; i++) {
                  var item = document.createElement('li');
                  item.appendChild(document.createTextNode(playlist[i]));
                  list.appendChild(item);
              }
              node.appendChild(list)
            },
            complete: function (data) {
                    setTimeout(updateInterface, interval);
            }
        });
      }
      setTimeout(updateInterface, interval);

      function submitYoutubeLink() {
          var link = $("#id_link").val();
          $.ajax({
              url: '{% url "add_youtube_url" %}',
              data: {
                'link': link
              },
              dataType: 'json',
              success: function (data) {
                  console.log(data);
                if (!data.success)
                {
                  alert("Failure!");
                }
              }
          });
      }

      function pushConfig() {
          var sh = $("#shuffle").is(":checked");
          var re = $("#repeat").is(":checked");
          $.ajax({
              url: '{% url "change_config" %}',
              data: {
                    'shuffle': sh,
                    'repeat': re
              },
              dataType: 'json',
              success: function (data) {}
          });
      }

      // Add youtube url


    ///////////////////////////////////
    // Youtube player stuff
    ///////////////////////////////////
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          playerVars: {'controls': 0 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

    {% endblock %}
  </body>
</html>
