{% extends 'music/_base.html' %}

{% load bootstrap4 %}

{% load staticfiles%}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" data-html="true" title="" id="header_navbar" href="{{room.url}}">{{ room.url}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'log_out' %}">Logout {{user.username}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container center" style="height: 70%;">

  <div class="card text-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " id="tab_button_player">Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab_button_playlist">Playlist({{playlistItems|length}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="tab_button_users">Users</a>
        </li>
      </ul>

    <div class="card-block">
      <div id="player_tab_content">
        <img class="card-img-top" id="player" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div id="playlist_tab_content">
        <table class="table" id="playlist">
          <thead>
            <tr>
              <th scope="col" style="width: 70%;" >Title</th>
              <th scope="col" style="width: 20%;">Added by</th>
              <th scope="col" style="width: 20%;">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in playlistItems %}
                <tr>
                  <td><a href="https://www.youtube.com/watch?v={{item.youtube_id}}">{{ item.title }}</a></td>
                  <td>{{item.user_added.username}}</td>
                  <td>{{item.added}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div id="userlist_tab_content">

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Controls</h6>
      <form>
        <div class="form-row">
          <div class="col-7">
            <button class="btn btn-outline-warning my-2 my-sm-0" id="voteskip_button">Vote Skip</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="shuffle_button">Turn Shuffle {% if room.shuffle %}Off{% else %}On{% endif %}</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="repeat_button">Turn Repeat {% if room.shuffle %}Off{% else %}On{% endif %}</button>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Youtube link" id="youtube_link">

          </div>
          <div class="col">
            <button class="btn btn-outline-success my-2 my-sm-0" id="submit_link_button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>



</div>

{% endblock content %}

{% block script %}
<script>
    var room_url = "{{ room.url}}"
</script>
<script type="text/javascript" src="{% static "music/sync_player.js" %}"></script>
{% endblock script %}
