{% extends 'music/_base.html' %}

{% load bootstrap4 %}

{% load staticfiles%}

{% load random_numbers %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" data-html="true" title="" id="header_navbar" href="{{room.url}}">{{ room.url}}</a>
  <!-- <div class="btn-group">
    <button class="btn btn-primary" type="button" id="button_player">Video</button>
    <button class="btn btn-outline-primary" type="button" id="button_playlist">Playlist({{playlistItems|length}})</button>
    <button class="btn btn-outline-primary disabled" type="button" id="button_users">Users(0)</button>
    <button class="btn btn-outline-primary disabled" type="button" id="button_playlist">Settings</button>
  </div> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'log_out' %}">Logout {{user.username}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 3%; height:70%;">

    <div class="row">

      <!-- ############################### PLAYER ############################### -->
      <div class="col-7">

        <!--  Video  -->
          <div class="card" style="height:500px; overflow:hidden;">
            <div class="card-body">
              <img class="card-img-top" id="player">
              <div class="card-body">
                <h4 class="card-title" id="video_title">{%if playlistItems|length > 0%}{{room.current_playlistItem.title}}{%else%}Playlist is empty{%endif%}</h4>
                <p class="card-text" id="video_text">{%if playlistItems|length > 0%}Added by {{room.current_playlistItem.user_added.username}} ({{room.current_playlistItem.added|date:"m.d.Y, H:i"}}){%endif%}</p>
              </div>
            </div>
          </div>

          <!--  Voteskip  -->
          <div class="card" id="skip_vote_card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted" id="counter">Skip Votes <label id="count">0</label> / <label id="count_need">0</label></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 75%" id="prog-bar"></div>
              </div>
            </div>
          </div>

          <!--  Controls  -->
          <div class="card" style="height:100px; overflow:hidden;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Controls</h6>
                <div class="form-row">
                  <div class="col-8">
                    <button class="btn btn-primary" id="voteskip_button">Vote Skip</button>
                    <button data-toggle="button" aria-pressed="{% if room.shuffle %}true{% else %}false{% endif%}" autocomplete="off" class="btn btn-{% if room.shuffle %}primary active{% else %}secondary{% endif%}" id="shuffle_button">Shuffle</button>
                    <button data-toggle="button" aria-pressed="{% if room.shuffle %}true{% else %}false{% endif%}" autocomplete="off" class="btn btn-{% if room.repeat %}primary active{% else %}secondary{% endif%}" id="repeat_button"> Repeat</button>
                  </div>
                </div>
            </div>
          </div>

      </div>

      <!-- ############################### PLAYLIST ############################### -->

        <div class="col-5" >

          <div class="card"  style="height:500px; overflow-y:auto;">
              <div class="card-body">
                  <ul class="list-group" id="playlist">
                      {% for item in playlistItems %}
                          <li class="media list-group-item d-flex justify-content-between align-items-center {% if room.current_playlistItem == item%}active{%endif%}" style="border: 0px;">
                              <a href="https://www.youtube.com/watch?v={{item.youtube_id}}"><img class="mr-3" src="{{item.thumbnail_link}}" style="height:50px;"></a>
                              <div class="media-body">
                                  <a href="https://www.youtube.com/watch?v={{item.youtube_id}}"><h6 class="mt-0 mb-1">{{ item.title|truncatechars:50 }}</h6></a>
                              </div>
                              <span class="badge badge-info badge-pill">{{item.user_added.username|truncatechars:10}}</span>
                          </li>
                      {% endfor %}
                  </ul>
              </div>
            </div>


            <div class="card" style="height:100px; overflow:hidden;">
              <div class="card-body">
                <div class="card-text">
                  <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Youtube link" id="youtube_link">
                    <button class="btn btn-primary" id="submit_link_button" style="margin-left: 3%;">Submit</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</div>



{% endblock content %}

{% block script %}
<script>
    var room_url = "{{ room.url}}"
    var start_youtube_id = "{{ room.current_playlistItem.youtube_id }}"
</script>
<script type="text/javascript" src="{% static "music/sync_player.js" %}?v={% get_random_number %}"></script>
{% endblock script %}
