{% extends 'music/_base.html' %}

{% load bootstrap4 %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" data-html="true" title="" id="header_navbar" href="{{url}}">{{url}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'log_out' %}">Logout {{user.username}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container center" style="height: 70%" >

  <div class="row">
    <div class="col">

      <div class="container">
        <div class="row">
          <div class="col">
            <div id="player"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <button class="btn btn-outline-warning my-2 my-sm-0" id="voteskip">Vote Skip</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="shuffle">Turn Shuffle {% if room.shuffle %}Off{% else %}On{% endif %}</button>
            <button class="btn btn-outline-success my-2 my-sm-0" id="repeat">Turn Repeat {% if room.shuffle %}Off{% else %}On{% endif %}</button>
            <div class="form-inline">
              <input class="form-control" id="youtube_link" placeholder="Youtube link" style="margin: 5%;">
              <button class="btn btn-outline-success my-2 my-sm-0" id="submit_link">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <table class="table table-sm" id="playlist">
        <thead>
          <tr>
            <th scope="col" style="width: 70%;" >Title</th>
            <th scope="col" style="width: 20%;">Added by</th>
          </tr>
        </thead>
        <tbody>
          {% for item in playlistItems %}
              <tr>
                <td><a href="https://www.youtube.com/watch?v={{item.youtube_id}}">{{ item.title }}</a></td>
                <td>{{item.user_added.username}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>


  </div>

</div>

{% endblock content %}

{% block script %}
<script>

  $(document).ready(function() {
    $('#playlist').DataTable( {
        "searching":   false,
        "lengthChange": false,
        "info": false,
        "oLanguage": { "sEmptyTable": "Playlist is empty :(" }
    } );
  } );

  function youtube_parser(url){
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    return (match&&match[7].length==11)? match[7] : url;
  }

  var socket = new WebSocket('ws://' + window.location.host + "/ws/{{url}}/playlist");

  $('#submit_link').on('click', function(event) {
    var message = {
        message_type: 'submit_url',
        message_content: youtube_parser($('#youtube_link').val()),
        message_origin: '{{ url }}',
    }
    socket.send(JSON.stringify(message));
    $('#youtube_link').val("");
  });

  $('#shuffle').on('click', function(event) {
    var message = {
        message_type: 'toggle_shuffle',
        message_content: '',
        message_origin: '{{ url }}',
    }
    socket.send(JSON.stringify(message));
  });

  $('#repeat').on('click', function(event) {
    var message = {
        message_type: 'toggle_repeat',
        message_content: '',
        message_origin: '{{ url }}',
    }
    socket.send(JSON.stringify(message));
  });

  socket.onmessage = function(message) {
    var data = JSON.parse(message.data);
    switch(data.message_type) {
      case "alert":
        alert(data.message_content);
        break;
      case "append_to_playlist":
        $("#playlist").append("<tr><td ><a href='https://www.youtube.com/watch?v="+data.message_content[3]+"'>"+data.message_content[0]+"</a></td><td>"+data.message_content[2]+"</td></tr>");
        $('#playlist').DataTable().fnDraw();
        break;
      case "play":
        player.playVideo();
        break;
      case "pause":
        player.pauseVideo();
        break;
      case "seek":
        // implement?
        player.pauseVideo();
        break;
      case "load":
        player.loadVideoById(data.message_content);
        break;
      case "change_shuffle_button":
        if (data.message_content) {
          $('#shuffle').html("Turn Shuffle Off");
        }
        else {
          $('#shuffle').html("Turn Shuffle On");
        }
        break;
      case "change_repeat_button":
        if (data.message_content) {
          $('#repeat').html("Turn Repeat Off");
        }
        else {
          $('#repeat').html("Turn Repeat On");
        }
        break;
      case "username_list_update":
      console.log(data.message_content);
        $('#header_navbar').html(" {{url}} ("+data.message_content.length+" Online)");
        $('#header_navbar').attr('title', data.message_content);
        break;
    };
};

  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: '{% if room.current_playlistItem.youtube_id %}{{ room.current_playlistItem.youtube_id }}{% else %}UBX8MWYel3s{% endif %}',
      playerVars: {'controls': 1 },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange,
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
    var message = {
        message_type: 'finished_loading',
        message_content: '',
        message_origin: '{{ url }}',
    }
    socket.send(JSON.stringify(message));
  }

  function onPlayerStateChange(event) {
    var message = {
        message_type: 'player_state_change',
        message_content: event.data,
        message_origin: '{{ url }}',
    };
    socket.send(JSON.stringify(message));
  }
</script>
{% endblock script %}
