{% extends 'music/_base.html' %}

{% block content %}
  <p> {{username}} (<a href="{% url 'log_out' %}">Log Out</a>)</p>
  <br>
  <ul>
    {% for user in users %}
      <!-- NOTE: We escape HTML to prevent XSS attacks. -->
      <li data-username="{{ user.username|escape }}">
        {{ user.username|escape }}: {{ user.status|default:'Offline' }}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block script %}
  <script>
    // Websocket
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    // Loading IFrame Player API code asynchronously (no clue what is happening here)
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var yt_done = false;
    var player;

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);

      // Login/out events
      if (data['message_type'] == "login_event") {
        var username = encodeURI(data['username']);
        var user = $('li').filter(function () {
          return $(this).data('username') == username;
        });

        if (data['is_logged_in']) {
          user.html(username + ': Online');
        }
        else {
          user.html(username + ': Offline');
        }
      } else if (data['message_type'] == "player_event") {

      }

    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '360',
        width: '640',
        videoId: 'M7lc1UVf-VE',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      event.target.playVideo();
    }

    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
        setTimeout(stopVideo, 6000);
        yt_done = true;
      }
    }

  </script>
{% endblock script %}
