.formbox {
    border: 2px solid black;
    border-radius: 5px;
}

.margin {
    margin: 20px;
}

.minor_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td.op {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rcenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Roboto';
    font-color: #17201D;
}

html, body {margin: 0; height: 100%; overflow: hidden}
